<main>
    <h1> Pensando fuera de la caja</h1>

    <!-- Acerca de mí -->

    <!-- Foto de perfil -->
    <div class="container">
      <div class="flipy">
        <div class="card" id="fotoPerfil">
          <div class="face front">
            <img src="../../../assets/img/pexels-olya-kobruseva-7304970.jpg" class="el_rostro" alt="el_rostro">
          </div>
          <div class="face back">
            <img src="../../../assets/img/Perfil13.jpg" class="mi_rostro" alt="mi_rostro"> 
          </div>
        </div>
      </div> 
    </div>
</main>
