
    <app-navbar></app-navbar>
    
    <app-loading *ngIf="loading"></app-loading>

    <div *ngIf="!loading">
    
        <app-portada></app-portada>
        
        <app-acerca-de></app-acerca-de>
        
        <app-habilidades></app-habilidades>
        
        <app-experiencia></app-experiencia>
        
        <app-formacion></app-formacion>
        
        
        <app-proyectos></app-proyectos>
        
        <app-gracia></app-gracia>

        <app-contacto></app-contacto>

        <button *ngIf="isShow" class="button" (click)="gotoTop()">🔝</button>

    </div>
    
    <app-footer></app-footer>

    
