<section class="formacion" id="formacion">
    <div class="filtro">
          <h3 class="card-title experiencia-titulo formacion">Formación</h3>
          <div class="d-flex justify-content-end">
            <a href="#" class="añadir"> <img src="../../../assets/img/Iconos/agregar.png" alt="Añadir" width="35" height="35"
                class="align-items-end"> </a>
          </div>
    
     <div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              <strong> Desarrollador Web Full Stack / Curso de Inglés para Desarrolladores </strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong> Argentina Programa - Ministerio de Desarrollo Productivo</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<code>.accordion-body</code>, though the transition does limit overflow.
              <div class="d-flex justify-content-end">
                <a href="#" class=> <img src="../../../assets/img/Iconos/editar.png" alt="editar" width="35" height="33" class="align-items-end">
                </a>
                <a href="#" class=> <img src="../../../assets/img/Iconos/delete.png" alt="eliminar" width="35" height="37" class="align-items-end">
                </a>
                </div>
              <div >
                <img src="../../../assets/img/Logos/APLogo-20-20.png" class="img-fluid justify-content-center argentinaP" alt="ISEP">
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              <strong> Seminario de Narrativas Hipermediales </strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong> Instituto Superior de Estudios Pedagógicos </strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<code>.accordion-body</code>, though the transition does limit overflow.
              <div class="d-flex justify-content-end">
                <a href="#" class=> <img src="../../../assets/img/Iconos/editar.png" alt="editar" width="35" height="33" class="align-items-end">
                </a>
                <a href="#" class=> <img src="../../../assets/img/Iconos/delete.png" alt="eliminar" width="35" height="37" class="align-items-end">
                </a>
                </div>
              <div>
                <img src="https://isep-cba.edu.ar/campus/theme/campusfordson/pix/logoiseptexto.png?v=1.1" class="img-fluid justify-content-center" alt="ISEP">
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
              <strong> Seminario de Pensamiento Computacional </strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong> Instituto Superior de Estudios Pedagógicos </strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<code>.accordion-body</code>, though the transition does limit overflow.
              <div class="d-flex justify-content-end">
                <a href="#" class=> <img src="../../../assets/img/Iconos/editar.png" alt="editar" width="35" height="33" class="align-items-end">
                </a>
                <a href="#" class=> <img src="../../../assets/img/Iconos/delete.png" alt="eliminar" width="35" height="37" class="align-items-end">
                </a>
                </div>
              <div>
                <img src="https://isep-cba.edu.ar/campus/theme/campusfordson/pix/logoiseptexto.png?v=1.1" class="img-fluid justify-content-center" alt="ISEP">
              </div>
            </div>
          </div>
        </div>  
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="true" aria-controls="panelsStayOpen-collapseFour">
              <strong> Profesorado de Educación Primaria </strong>
            </button>
          </h2>
          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <strong> Instituto Superior Carlos Alberto Leguizamón </strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<code>.accordion-body</code>, though the transition does limit overflow.
              <div class="d-flex justify-content-end">
                <a href="#" class=> <img src="../../../assets/img/Iconos/editar.png" alt="editar" width="35" height="33" class="align-items-end">
                </a>
                <a href="#" class=> <img src="../../../assets/img/Iconos/delete.png" alt="eliminar" width="35" height="37" class="align-items-end">
                </a>
                </div>
              <div>
                <img src="https://isleguizamon-cba.infd.edu.ar/aula/archivos/logos/Instituto_Superior_carlos_alberto_leguizamon.png" class="img-fluid justify-content-center" alt="Gupo Tandem BPO">
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
      
    </div>
    </section>
