<footer>
    <nav class="navbar p-0 navbar-expand-lg">
      <div class="container-fluid d-flex align-items-center p-1 justify-content-evenly">
        <!-- Navbar logo y marca   -->
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" class="m-2"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
        <br />
        <p class="m-0"> Esta página agradece los recursos aportados por:   
          <a rel="aportes" routerLink="/reconocimientos" >Atribuciones</a>
          <br>
          Este obra está bajo una 
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Licencia de Creative Commons Reconocimiento-NoComercial 4.0 Internacional </a>
        </p>
  <p class="m-2">Ornella Alborno. 2023. </p>
      </div>
    </nav>
  </footer>
