<section class="experiencia" id="experiencia">
    <div > 
    <h3 class="card-title experiencia-titulo">Experiencia</h3>
    <div class="d-flex justify-content-end">
      <a href="#" class="añadir"> <img src="../../../assets/img/Iconos/agregar.png" alt="Añadir" width="35" height="35" class="align-items-end"> </a>
    </div>
    <!-- Tandem -->
    <div class="row g-0">
      <div class="col-md-3 d-flex justify-content-center align-items-center" >
        <img src="../../../assets/img/Logos/Logo Tandem.jpeg" class="img-fluid rounded" id="empresas" alt="Gupo Tandem BPO">
      </div>

      <div class="col-md-9 pe-2 d-flex align-items-center ">

        <div class="card-body experiencia p-3">
          <h5 class="card-title subtituloExp">Formadora en Gestión Humana (Freelance)</h5>
          <p class="card-text" id="textoExperiencia">This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
            <a href="http://grupotandembpo.com"> Grupo Tandem BPO</a>
          </p>
          <p class="card-text"><small class="text-muted">Año: 2022</small></p>
        </div >
        <div class="d-flex justify-content-end ">
          <a href="#" class=> <img src="../../../assets/img/Iconos/editar.png" alt="editar" width="35" height="33" class="align-items-end">
          </a>
          <a href="#" class=> <img src="../../../assets/img/Iconos/delete.png" alt="eliminar" width="35" height="37" class="align-items-end">
          </a>

        </div>

      </div>
    </div>
    <!-- Tandem -->
    <!-- VN Global -->
    <div class="row g-0"> 
      <div class="col-md-3  d-flex justify-content-center align-items-center p-3" >
        <img src="https://www.v-n.com.ar/images/vn-logo.svg" class="img-fluid rounded " id="empresas"  alt="VN Global BPO" >
      </div>

      <div class="col-md-9 pe-2 d-flex align-items-center ">

        <div class="card-body experiencia p-3">
          <h5 class="card-title subtituloExp">Formadora en Gestión Humana (Freelance)</h5>
          <p class="card-text" id="textoExperiencia">This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
            <a href="http://grupotandembpo.com" >Grupo Tandem BPO</a>
          </p>

          <p class="card-text"><small class="text-muted">Año: 2022</small></p>
        </div >
        <div class="d-flex justify-content-end ">
          <a href="#" class=> <img src="../../../assets/img/Iconos/editar.png" alt="editar" width="35" height="33" class="align-items-end">
          </a>
          <a href="#" class=> <img src="../../../assets/img/Iconos/delete.png" alt="eliminar" width="35" height="37" class="align-items-end">
          </a>

        </div>

      </div>
    </div>
    <!-- VN Global -->
    <!-- Atento Argentina -->
    <div class="row g-0">
      <div class="col-md-3 d-flex justify-content-center align-items-center p-3">
        <img src="https://atento.com/wp-content/uploads/2021/01/logo-atento.png" class="img-fluid rounded" id="empresas" alt="Atento">
      </div>

      <div class="col-md-9 pe-2 d-flex align-items-center ">

        <div class="card-body experiencia p-3">
          <h5 class="card-title subtituloExp">Formadora en Gestión Humana (Freelance)</h5>
          <p class="card-text" id="textoExperiencia">This is a wider card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
            <a href="http://grupotandembpo.com">Grupo Tandem BPO</a>
          </p>

          <p class="card-text"><small class="text-muted">Año: 2022</small></p>
        </div >
        <div class="d-flex justify-content-end ">
          <a href="#" class=> <img src="../../../assets/img/Iconos/editar.png" alt="editar" width="35" height="33" class="align-items-end">
          </a>
          <a href="#" class=> <img src="../../../assets/img/Iconos/delete.png" alt="eliminar" width="35" height="37" class="align-items-end">
          </a>

        </div>

      </div>
    </div>
    <!-- Atento Argentina -->
  </div>
  </section>
