<section class="experiencia" id="experiencia">
  <div>
    <h3 class="card-title experiencia-titulo">Experiencia</h3>
    <div class="d-flex justify-content-end">
      <a *ngIf="logueado" class="añadir">
        <img
          (click)="anadir()"
          src="../../../assets/img/Iconos/agregar.png"
          alt="Añadir"
          width="35"
          height="35"
          class="align-items-end"
        />
      </a>
    </div>

    <div class="row g-0" *ngFor="let expValArray of datosExperiencia">
      <!-- Tandem -->
      <!-- Logo empresa -->
      <div
        class="col-md-3 d-flex justify-content-center align-items-center flex-column"
      >
        <div class="justify-content-center">
          <img
            [src]="expValArray.urlLogoEmpresa"
            class="img-fluid rounded"
            id="empresas"
            alt="Img_Empresa"
          />
        </div>
        <p class="experiencia-subtitulo">{{ expValArray.empresa }}</p>
      </div>

      <!-- Body Experiencia -->
      <div class="col-md-9 pe-2 d-flex align-items-center">
        <div class="card-body experiencia p-3">
          <!-- puesto -->
          <h5
            *ngIf="!modificable[expValArray.idTrabajos]"
            class="card-title subtituloExp"
          >
            <b>{{ expValArray.puesto }}</b>
          </h5>
          <textarea
            class="textarea"
            placeholder="Puesto"
            *ngIf="modificable[expValArray.idTrabajos]"
            [(ngModel)]="expValArray.puesto"
          ></textarea>
          <!-- descripcion -->
          <p
            [innerHTML]="expValArray.descripcion"
            *ngIf="!modificable[expValArray.idTrabajos]"
            class="card-text"
            id="textoExperiencia"
          >
            {{ expValArray.descripcion }}
          </p>
          <textarea
            class="textarea"
            placeholder="Descripcion"
            *ngIf="modificable[expValArray.idTrabajos]"
            [(ngModel)]="expValArray.descripcion"
          ></textarea>
          <textarea
            class="textarea"
            placeholder="url Logo de la Empresa"
            *ngIf="modificable[expValArray.idTrabajos]"
            [(ngModel)]="expValArray.urlLogoEmpresa"
          ></textarea>
          <textarea
            class="textarea"
            placeholder="Nombre de la compañía"
            *ngIf="modificable[expValArray.idTrabajos]"
            [(ngModel)]="expValArray.empresa"
          ></textarea>
          <!-- periodo -->
          <p *ngIf="!modificable[expValArray.idTrabajos]" class="card-text">
            <small class="text-muted">{{ expValArray.periodo }}</small>
          </p>
          <textarea
            class="textarea"
            placeholder="Periodo"
            *ngIf="modificable[expValArray.idTrabajos]"
            [(ngModel)]="expValArray.periodo"
          ></textarea>
        </div>
        <!-- iconos -->
        <div class="flex-column">
          <div class="d-flex justify-content-end">
            <a *ngIf="logueado">
              <img
                (click)="habilitarEdicion(expValArray.idTrabajos)"
                src="../../../assets/img/Iconos/editar.png"
                alt="editar"
                width="35"
                height="33"
                class="align-items-end"
              />
            </a>
            <a *ngIf="logueado">
              <img
                (click)="eliminar(expValArray.idTrabajos)"
                src="../../../assets/img/Iconos/delete.png"
                alt="eliminar"
                width="35"
                height="37"
                class="align-items-end"
              />
            </a>
          </div>
          <input
            *ngIf="modificable[expValArray.idTrabajos]"
            class="btn btn-light"
            type="submit"
            value="modificar"
            (click)="modificar(expValArray.idTrabajos)"
          />
        </div>
      </div>
    </div>
    <!-- Tandem -->
  </div>
</section>

>
