.habilidades{
    position: relative;
    background-color: var(--colorazul);
    color:var(--colorclaro);
}

.video {
    width: 90%;
    height: 100%;
}

.contvideo{
    display: flex;
    justify-content: center;
    height: 35em;
}


