<section class="habilidades">
  <h3 class="card-title experiencia-titulo habilidades">
    ¿Por qué las Cajas?
    <div class="d-flex justify-content-end">
      <a href="#" class="añadir" id="habilidades">
        <img
          src="../../../assets/img/Iconos/agregar.png"
          alt="Añadir"
          width="35"
          height="35"
          class="align-items-end"
      /></a>
    </div>
  </h3>
  <!-- Video -->
  <div class="contvideo">
    <iframe
      class="video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/MGma_wStFk4?rel=0"
      title="YouTube video player"
      frameborder="0"
      showinfo="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
</section>
