<h2 class="agradecimiento">Muchas gracias por sus generosos aportes</h2>
<p id="firma">Ornella Alborno 2023</p>
<div>

    <ul>
        <li>
            Foto de Eva Bronzini: https://www.pexels.com/es-es/foto/maqueta-flor-caja-abierto-7957724/
        </li>
        <li>
            Foto de Monstera: https://www.pexels.com/es-es/foto/te-amo-tarjeta-en-mesa-de-madera-marron-5957128/
        </li>
        <li>
            Foto de cottonbro: https://www.pexels.com/es-es/foto/piernas-montana-casa-acostado-4553182/
        </li>
        <li>
            Foto de Olya Kobruseva: https://www.pexels.com/es-es/foto/persona-cajas-cartulina-dibujos-7304970/
        </li>
        <li>
            <a target="_blank" href="https://icons8.com/icon/80436/caja-vacía">Caja vacía</a> icon by <a target="_blank"
                href="https://icons8.com">Icons8</a>
        </li>
        <li>
            https://pixabay.com/es/illustrations/hamburguesa-icono-americano-2916288/
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/anadir" title="añadir iconos">Añadir iconos creados por Good
                Ware - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/eliminar" title="eliminar iconos">Eliminar iconos creados por
                Kiranshastry - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/lapiz" title="lápiz iconos">Lápiz iconos creados por Freepik
                - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/salida" title="salida iconos">Salida iconos creados por
                Freepik - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/github" title="github iconos">Github iconos creados por
                IconsBox - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/linkedin" title="linkedin iconos">Linkedin iconos creados por
                Freepik - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/whatsapp" title="whatsapp iconos">Whatsapp iconos creados por
                Freepik - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/iniciar-sesion" title="iniciar sesión iconos">Iniciar sesión
                iconos creados por bearicons - Flaticon</a>
        </li>
        <li>
            <a href="https://www.flaticon.es/iconos-gratis/cerrar-sesion" title="cerrar-sesion iconos">Cerrar-sesion
                iconos creados por Freepik - Flaticon</a>
        </li>
        <li>
            <a href="https://iconos8.es/icons/set/scroll-up">Icono Scroll UP</a>
        </li>
        <li>
            https://www.instagram.com/javascript_kefah.js/

        </li>
        <li>
            https://www.instagram.com/azlan_ajju/

        </li>
        <li>
            https://www.instagram.com/reel/CklMoSujlxP/
        </li>
        <li>
            https://www.codingtorque.com/2022/10/6-loading-animations.html

        </li>
        <li>
            https://codepen.io/shubhamc_007/pen/MbErKp
        </li>
        <li>
            https://www.contadorvisitasgratis.com
        </li>
        <li>
            https://www.fotoefectos.com/
        </li>
        <li>
            https://www.rawpixel.com/free-images
        </li>
        <li>
            https://convertio.co/es/audio-converter/
        </li>
        <li>
            https://audacity.es/
        </li>
        <li>
            https://www.moovly.com/
        </li>
        <li>
            Breakthrough: Simon Jomphe Lepine
        </li>
    </ul>
</div>
    


 







