<div class="card" id="acercaDeMi">
    <div class="card-body">
      <h3 class="card-title">Ornella Alborno</h3>
      <div class="d-flex justify-content-end">
        <a href="#" class="edit"> <img src="../../../assets/img/Iconos/editar.png" alt="edit" width="35" height="35" class="align-items-end">
        </a>
      </div>

      <h4 class="card-subtitle mb-2">Full Stack Developer Jr.</h4>
      <p class="card-text">Soy tucumana pero vivo en Córdoba hace varios años.
        También soy docente de primaria, con una especialización en Pensamiento Computacional y Narrativas
        Hipermediales.
        <br>
        Busco incorporarme al sector de software y especializarme en el desarrollo de aplicaciones, principalmente en el
        area de FronEnd.
      </p>
      <!-- <a href="#" class="card-link">Card link</a> -->
    </div>
  </div>

